@import "../../styles/colors";

.wrapper {
  box-sizing: border-box;
  border-radius: 20px;
  padding: 2em;
  padding-top: 0;
  padding-top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 800px;
  height: 374px;
  width: 400px;
  border: 1px solid rgb(168, 168, 168);


  .header {
    color: rgb(27, 27, 27);
  }

  .centerContent {
    color: $color-white;
  }

  .footerContent {
    background-color: $color-blue;
    margin: -2rem;
    border-radius: 20px;
    height: 21%;
    border: none;
    padding: 1rem;
    color: $color-white;
    position: relative;
  }
}